.normalField{
    height: fit-content;
    border: 2px solid #1A6C8C;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    width: 100%;
}

.requiredField{
    border-color: #ff243a;
}

