table {
    font-size: 1.8rem;
    width: fit-content;      
    border-collapse: collapse;
}

table thead tr th{
    background-color: #005B7F;
    color: #FFFFFF;
}

th, td {
    text-align: center;
    padding: 0.2rem 0.2rem;
    white-space: nowrap;
    max-width: 35rem;
}




table tr:nth-child(even) {
    background-color: #b0ccf7;
}