.searcher{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    overflow: auto;
}

.buttonsContainer button{
    margin: 0 1rem;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .searcher{
        width: 80%;
    }
    .searcher h1{
        text-align: center;
    }
}   