.tableContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterContainer{
    border: 0.2rem solid #1A6C8C;
    border-radius: 1.5rem;
    display: flex;

}

.input{
    padding: 0.5rem 0.5rem;
    margin: 1rem 1rem;
    border: 0.2rem solid #1A6C8C;
    border-radius: 1.2rem;
    font-size: 1.5rem;
}