.sideBarButton{
    display: none;
    margin-left: 3rem;
}

.icon{
    color: #FFFFFF;
}

.arrow{
    margin-top: 2rem;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    .sideBarButton{
        display: flex;
    }
}   