*:focus {
    outline: none;
}
a { 
    color: inherit; 
} 

.Normal{
    background-color: #005B7F;
    width: fit-content;
    border-radius: 1.5rem;
    color: white;  
    padding: 1rem 1rem;
    font-size: 2rem; 
    margin: 1rem 0;
    height: fit-content;
}

.Normal:disabled{
    opacity: 0.65; 
    cursor: not-allowed;
}

.Link:disabled{
    opacity: 0.65; 
    cursor: not-allowed;
}


.normal{
    
}



.Link{
    background-color: #005B7F;
    width: fit-content;
    padding: 1rem 1rem;
    border-radius: 15px;
    color: white;  
    font-size: 1.8rem; 
    margin: 1rem 0;
}

.small{
    padding: 0.5rem 0.5rem;
    font-size: 1.4rem; 
    border-radius: 1rem
}