.quotationForm{
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border: 0.3rem solid #5293C1;
    border-radius: 2.5rem;
}

.field{
    width: 25%;
}


.formControl{
    border: 2px solid #1A6C8C;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: center;
    width: 25%;
}

.areaControl{
    width:40%;
    text-align: start;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: 2px solid #1A6C8C;
}

.fieldRequired{
    border: 2px solid red;
}


.formControl:disabled, .areaControl:disabled {
    cursor:not-allowed;
    background: #dddddd ;
}



.inputsContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .quotationForm{
        text-align: center;
        width: 90%;
        height: fit-content;
        margin-bottom: 2rem;
    }
    .inputsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .field , .areaControl{
        width: 85%;
        margin: 1rem;
    }

    .formControl{
        width: 85%;
    }
    
    

}   