.billSearcher{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    overflow: auto;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    .formTitle{
        text-align: center;
    }
}   