.sidebar{
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: fixed;
    left: 0;
    top: 0rem;
    width: 60%;
    height: 150%;
    background-color:#5293C1;
    z-index: 2;
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}



.navItem{
    color: #FFFFFF;
    font-size: 2rem;
    width: 100%;
   
}

.navItemTitle{
    color: #FFFFFF;
    font-size: 2rem;
}   