.addPackageContainer{
    display: flex;
    align-items: center;
}
.addPackageContainer button{
    margin-left: 1rem;
}

.PDFContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}