.changePasswordContainer{
    display: flex;
    width: 35%;
    height: fit-content;
    border: 0.3rem solid #5293C1;
    border-radius: 25px;
    justify-content: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {

    .title{
        text-align: center;
    }
    .changePasswordContainer{
        width: fit-content;
        margin-bottom: 2rem;
    }
}   