.itemContainer{
    font-size: 1.6rem;
    width: 95%;
    margin-bottom: 2rem ;
}

.detailsContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}

.smallFont{
    font-size: 1.2rem;
}

.columnContainer {
    display: flex;
    border-bottom: 0.1rem solid #1A6C8C;
    align-items: center;
}

.columnContainer span{
    width: 100%;
    
}

.data{
    text-align: right;
}

.link{
    color: blue;
}